
{% block body %}

    {# S'il y a une erreur, on l'affiche dans un joli cadre #}
    {% if error %}
        {% if error.message == "Bad credentials." %}
        <div class="alert alert-danger">L'email ou le mot de passe est incorrect, réessayez.</div>
            {% endif %}
    {% endif %}

    {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
    <form action="{{ path('login_check') }}" method="post">
        {#<label for="username">Login :</label>#}
        <input type="email" id="username" name="_username" placeholder="Email" />

        {#<label for="password">Mot de passe :</label>#}
        <input type="password" id="password" name="_password" placeholder="Mot de passe" />
        <br />
        <input type="submit" id="connexion_button_form_login" value="Connexion" />

    </form>

{% endblock %}

