<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>

    <title>Inscription réussie - Collect-On</title>

    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" href="{{ asset('bundles/collectonportal/css/homepage.css') }}"/>
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>
</head>
<nav>
    <ul>
        <img id="img_collecton" src="{{ asset('bundles/collectonportal/images/Collect-On_title.png') }}"
             alt="Image Collect-On"/>
        <li><a class="button" href="{{ path('collecton_portal_homepage') }}#accueil"><button>Connexion/Inscription</button></a></li>
        <li><a href="{{ path('collecton_portal_homepage') }}#contact">Contact</a></li>
        <li><a href="{{ path('collecton_portal_homepage') }}#partenaires">Partenariats</a></li>
        <li><a href="{{ path('collecton_portal_homepage') }}#actu">Actualités</a></li>
        <li><a href="{{ path('collecton_portal_homepage') }}#map_section">Points de collecte</a></li>
        <li><a id="menu_accueil" href="{{ path('collecton_portal_homepage') }}#accueil">Accueil</a></li>
    </ul>
</nav>
{% block body %}

    <div id="login_logon" style="margin: 100px auto 100px auto; width: 500px">
        {# S'il y a une erreur, on l'affiche dans un joli cadre #}

        <span id="lemon_petit">
            Vous êtes bien inscrit, vous pouvez maintenant vous connecter;
        </span>
        {# Le formulaire, avec URL de soumission vers la route « login_check » comme on l'a vu #}
        <form action="{{ path('login_check') }}" method="post">
            {#<label for="username">Login :</label>#}
            <input type="email" id="username" name="_username" placeholder="Nom d'utilisateur" />

            {#<label for="password">Mot de passe :</label>#}
            <input type="password" id="password" name="_password" placeholder="Mot de passe" />
            <br />
            <input type="submit" value="Connexion" />

        </form>
    </div>

{% endblock %}

<footer>
    <section id="collect-on">
        <h1>Collect-On</h1>
        <p>Soyons connectés pour collecter</p>
        <p>© 2019 Collect-On App</p>
    </section>

    <section id="links">
        <ul class="major_links">
            <li><a href="{{ path('collecton_portal_homepage') }}#accueil">Accueil</a></li>
            <li><a href="{{ path('collecton_portal_homepage') }}#map_section">Points de collecte</a></li>
            <li><a href="{{ path('collecton_portal_homepage') }}#actu">Actualités</a></li>
            {#<li><a href="#partenaires">Partenariat</a></li>#}
        </ul>
        <ul class="minor_links">
            <li><a href="{{ path('collecton_portal_homepage') }}#accueil">Connexion</a></li>
            <li><a href="{{ path('collecton_portal_homepage') }}#accueil">Inscription</a></li>
        </ul>
    </section>

    <section id="contact">
        <article id="contact_us">
            <h2>Contact</h2>
            <p>Mail : contact@collect-on.com</p>
        </article>
        <article id="follow_us">
            <h2> Suivez-nous</h2>
            {# J'ai galéré ma vie parce que des svg, pour être modifiables, doivent être appelés de cette manière #}
            <a href="https://www.facebook.com/CollectOnApp" title="facebook"
               target="_blank">{% include '@CollectonPortal/inline/facebook.svg' %}</a>
            <a href="https://twitter.com/CollectOnApp" title="twitter"
               target="_blank">{% include '@CollectonPortal/inline/twitter.svg' %}</a>
            <a href="https://www.instagram.com/collectonapp" title="instagram"
               target="_blank">{% include '@CollectonPortal/inline/instagram.svg' %}</a>
        </article>
    </section>

</footer>
</html>