<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133930603-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-133930603-1');
    </script>

    <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>

    <title>Collect-On, soyons connectés pour collecter</title>
    <meta name="description"
          content="Où donner vos objets pour qu'ils aient une seconde vie ?
          Collect-On est la plateforme dédiée au don d'objets sur Paris et la banlieue parisienne.">

    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('bundles/collectonportal/css/homepage.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/collectonportal/css/material.css') }}">
    {#<script src={{ asset('bundles/collectonportal/css/material.js') }}></script>#}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {#<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">#}
    {#<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">#}
    {#<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>#}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0ceekdbjSF_N8YVPsz8SHqAtdrL0GJoA&callback=initMap&libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>
<nav>
    <ul>
        <img id="img_collecton" src="{{ asset('bundles/collectonportal/images/Collect-On_title.png') }}"
             alt="Collect-On"/>
        <li><a class="button" href="{{ path('collecton_portal_homepage') }}#accueil"><button>Connexion/Inscription</button></a></li>
        <li><a href="{{ path('collecton_portal_homepage') }}#contact">Contact</a></li>
        <li><a href="{{ path('collecton_portal_homepage') }}#partenaires">Partenariats</a></li>
        <li><a href="{{ path('collecton_portal_homepage') }}#actu">Actualités</a></li>
        <li><a href="{{ path('collecton_portal_homepage') }}#map_section">Points de collecte</a></li>
        <li><a id="menu_accueil" href="{{ path('collecton_portal_homepage') }}#accueil">Accueil</a></li>
    </ul>
</nav>

<a class="anchor" id="accueil"></a>
<section id="accueil" class="hero">

    <div id="accueil_left">
        <h1>Collect-On</h1>
        <h3>Soyons connectés</h3>
        <h4>pour collecter</h4>
        <p>
            Que faire de tous vos objets inutiles qui s’entassent chez vous ? <br/><br/>
            Il est possible de leur donner une seconde vie tout en faisant une action solidaire : Recyclage,
            réutilisation, distribution à des personnes dans le besoin…
            <br/> <br/><br/>
            <span id="lemon_petit"> Collect-On </span> vous permet de trouver une association qui peut récupérer ces
            objets. <br/><br/>
            Vous avez accès à leurs points de collectes et à des informations totalement transparentes sur la seconde
            vie qui sera donnée à vos objets !
        </p>
        <a href="#map_section"><button><i class="material-icons" id="icon_search">search</i><span> Rechercher un point de collecte</span></button></a>
    </div>

    <div id="accueil_right">
        <div id="login_logon">
            <h4>Rejoignez le mouvement</h4>
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <div class="mdl-tabs__tab-bar">
                    <a href="#connexion-panel" class="mdl-tabs__tab is-active">CONNEXION</a>
                    <a href="#inscription-panel" class="mdl-tabs__tab">INSCRIPTION</a>
                </div>
                <div class="mdl-tabs__panel is-active" id="connexion-panel">
                    <p>Vous êtes une association :</p>
                    {{ render(controller('CollectonUserBundle:Security:login')) }}

                </div>
                <div class="mdl-tabs__panel" id="inscription-panel">
                    <p>Vous êtes une association :</p>
                    {{ render(url('register')) }}
                </div>

            </div>
        </div>


        <script>
            function connexion() {
                document.getElementById("connexion_button").style.backgroundColor = "#39ab7b";
                document.getElementById("connexion_button").style.color = "white";
                document.getElementById("inscription_button").style.backgroundColor = "white";
                document.getElementById("inscription_button").style.color = "#959DAD";
            }

            function inscription() {
                document.getElementById("connexion_button").style.backgroundColor = "white";
                document.getElementById("connexion_button").style.color = "#959DAD";
                document.getElementById("inscription_button").style.backgroundColor = "#39ab7b";
                document.getElementById("inscription_button").style.color = "white";

            }
        </script>
    </div>
</section>

<section id="location" class="colored_banner">
    <span class="svg">{% include '@CollectonPortal/inline/pin_pers.svg' %}</span>
    <h3>Retrouvez-nous sur <span>Paris</span> et sa proche banlieue</h3>
</section>


{% include 'CollectonPortalBundle:homepage:map.html.twig' %}



<!--

        <img id="img_leracoon" src="{{ asset('bundles/collectonportal/images/leracoon.png') }}" alt="Image Le Racoon" />
        <img id="img_bullehaut" src="{{ asset('bundles/collectonportal/images/bullehaut.png') }}" alt="Image Bulle haut" />
        <img id="img_bullebas" src="{{ asset('bundles/collectonportal/images/bullebas.png') }}" alt="Image Bulle bas" />
        -->
<a class="anchor" id="actu"></a>
<section id="actu">
    <div class="section_title">
        <h2>Actualités</h2>
        <p>Retrouvez les actualités de Collect-On et des partenaires !</p>
        {#<button>Voir tout >></button>#}
    </div>
    <article>
        <figure class="img_bg" style="background-image: url({{ asset('bundles/collectonportal/images/video.PNG') }})"></figure>
        <div class="content">
            <h3>Nouvelle vidéo de présentation</h3>
            <p class="date">6 février 2018</p>
            <p>Vous pouvez maintenant regarder la vidéo de présentation de Collect-On sur youtube en cliquant sur le lien suivant : </p>
            <p><a href="https://youtu.be/O0-mvRBeGS8" target="https://youtu.be/O0-mvRBeGS8">https://youtu.be/O0-mvRBeGS8</a></p>
            {#<button>Lire tout >></button>#}
        </div>
    </article>
    <article>
        <figure class="img_bg"
                style="background-image: url({{ asset('bundles/collectonportal/images/bac.jpg') }})"></figure>
        <div class="content">
            <h3>Collecte à l'ECE Paris</h3>
            <p class="date">12 décembre 2018</p>
            <p>Nous avons collecté plus de 500 produits d’hygiène afin de les redonner à des associations
                qui distribuent ces produits à des personnes dans le besoin et à des centres d’accueil pour
                sans-abris.</p>
            {#<button>Lire tout >></button>#}
        </div>
    </article>
    <article>
        <figure class="img_bg"
                style="background-image: url({{ asset('bundles/collectonportal/images/team.jpg') }})"></figure>
        <div class="content">
            <h3>L'équipe se renouvelle !</h3>
            <p class="date">4 septembre 2018</p>
            <p>Caroline, Pauline, Lisa et Claire, se sont lancées dans l'aventure Collect-On depuis déjà plus d'un an.
                Maximilien et Jacques nous ont rejoint récemment en apportant pleins de nouvelles idées.</p>
            {#<button>Lire tout >></button>#}
        </div>
    </article>
</section>

{#
<section id="div_video">

    <iframe  src="https://www.youtube.com/embed/watch?v=O0-mvRBeGS8&feature=youtu.be&fbclid=IwAR2RvJJwFa_iAO1UVnghW6cuV0FWJSxrurPDkUAtWZAROTUDH06M89JocqE"
             frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</section>
<div id="div_3acteurs">
    <h2>Je suis ...</h2>
    <div class="container_acteurs" id="3">
        <a id="asso" onclick="this.src={{ asset('bundles/collectonportal/images/asso.png') }}">
            <img class="image_on" src="{{ asset('bundles/collectonportal/images/asso.png') }}" alt="Image Association" />
            <img class="image_off" src="{{ asset('bundles/collectonportal/images/asso_active.png') }}" alt="Image Association" />
            <h3 class="image_off">Une association</h3>
        </a>
    </div>


    <div class="container_acteurs" id="2">
      <a id="parti">
            <img class="image_on" src="{{ asset('bundles/collectonportal/images/particulier.png') }}" alt="Image Particulier" />
            <img class="image_off" src="{{ asset('bundles/collectonportal/images/particulier_active.png') }}" alt="Image Particulier" />
            <h3 class="image_off">Un particulier</h3>
        </a>
    </div>

    <div class="container_acteurs" id="1">
         <a id="entreprise">
            <img class="image_on" src="{{ asset('bundles/collectonportal/images/entreprise.png') }}" alt="Image Entreprise" />
            <img class="image_off" src="{{ asset('bundles/collectonportal/images/entreprise_active.png') }}" alt="Image Entreprise" />
            <h3 class="image_off">Une entreprise</h3>
        </a>
    </div>

</div>


</div>
</section>
<section id="div_video">

<iframe src="https://www.youtube.com/9VIEF_0xD7E"
        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</section>

<div id="div_3acteurs">
<h2>Je suis ...</h2>
<div class="container_acteurs" id="3">
    <a id="asso" onclick="this.src={{ asset('bundles/collectonportal/images/asso.png') }}">
        <img class="image_on" src="{{ asset('bundles/collectonportal/images/asso.png') }}" alt="Image Association"/>
        <img class="image_off" src="{{ asset('bundles/collectonportal/images/asso_active.png') }}"
             alt="Image Association"/>
        <h3 class="image_off">Une association</h3>
    </a>
</div>

<div class="container_acteurs" id="2">
    <a id="parti">
        <img class="image_on" src="{{ asset('bundles/collectonportal/images/particulier.png') }}"
             alt="Image Particulier"/>
        <img class="image_off" src="{{ asset('bundles/collectonportal/images/particulier_active.png') }}"
             alt="Image Particulier"/>
        <h3 class="image_off">Un particulier</h3>
    </a>
</div>

<div class="container_acteurs" id="1">
    <a id="entreprise">
        <img class="image_on" src="{{ asset('bundles/collectonportal/images/entreprise.png') }}"
             alt="Image Entreprise"/>
        <img class="image_off" src="{{ asset('bundles/collectonportal/images/entreprise_active.png') }}"
             alt="Image Entreprise"/>
        <h3 class="image_off">Une entreprise</h3>
    </a>
</div>
</div>



#}
<!--<script>
    // Initialize and add the map
    var map, InfoWindow;
    function initMap() {
        // The location of Ulu  ru
        var uluru = {lat: -25.344, lng: 131.036};
        // The map, centered at Uluru
        map = new google.maps.Map(
            document.getElementById('map'), {zoom: 4, center: uluru});
        // The marker, positioned at Uluru
        var marker = new google.maps.Marker({position: uluru, map: map});


    infoWindow = new google.maps.InfoWindow;

    // Try HTML5 geolocation.
    // if (navigator.geolocation) {
    //     navigator.geolocation.getCurrentPosition(function(position) {
    //         var pos = {
    //             lat: position.coords.latitude,
    //             lng: position.coords.longitude
    //         };
    //
    //         infoWindow.setPosition(pos);
    //         infoWindow.setContent('Location found.');
    //         infoWindow.open(map);
    //         map.setCenter(pos);
    //     }, function() {
    //         handleLocationError(true, infoWindow, map.getCenter());
    //     });
    // } else {
    //     // Browser doesn't support Geolocation
    //     handleLocationError(false, infoWindow, map.getCenter());
    // }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }

</script>-->
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<!-- PARTENAIRES VRAIIIIIIIIIIIIIII-->
<a class="anchor" id="partenaires"></a>
    <section id="partenaires">
        <article id="left_partenaires">
            <h2>Nos partenaires</h2>
            <p>En devenant partenaire, vous pouvez bénéficier des avantages de la plateforme en ajoutant vos points
                de collectes. Collect-On offre également la possibilité de communiquer directement aux donateurs sur
                vos actions et les résultats de vos collectes.
            </p>
            <div id="solinum">
                <img id="image_solinum" src="{{ asset('bundles/collectonportal/images/Solinum.png') }}" alt="Logo Solinum"/>
                <p>Nous travaillons étroitement avec Solinum, start up porteuse de projets solidaires, au développement la
                    plateforme Collect-On.</p>
            </div>
        </article>
        <article id="form_contact">
            <div class="form">
                <h4>Contactez-nous!</h4>
                <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                    <div class="mdl-tabs__tab-bar">
                        <a href="#association-panel" class="mdl-tabs__tab is-active">Association</a>
                        <a href="#entreprise-panel" class="mdl-tabs__tab">Entreprise</a>
                    </div>
                    <div class="mdl-tabs__panel is-active" id="association-panel">
                        {{ form_start(form_contact_asso) }}
                        {{ form_end(form_contact_asso) }}
                    </div>
                    <div class="mdl-tabs__panel" id="entreprise-panel">
                        {{ form_start(form_contact_entre) }}
                        {{ form_end(form_contact_entre) }}
                    </div>

                </div>


            </div>

        </article>
    </section>

<!-- FIIIINNNN PARTENAIRES VRAIIIIIIIIIIIIIII-->
</body>
<!--

    infoWindow = new google.maps.InfoWindow;

    // Try HTML5 geolocation.
    // if (navigator.geolocation) {
    //     navigator.geolocation.getCurrentPosition(function(position) {
    //         var pos = {
    //             lat: position.coords.latitude,
    //             lng: position.coords.longitude
    //         };
    //
    //         infoWindow.setPosition(pos);
    //         infoWindow.setContent('Location found.');
    //         infoWindow.open(map);
    //         map.setCenter(pos);
    //     }, function() {
    //         handleLocationError(true, infoWindow, map.getCenter());
    //     });
    // } else {
    //     // Browser doesn't support Geolocation
    //     handleLocationError(false, infoWindow, map.getCenter());
    // }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }

</script>-->
<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function

-->
<footer>
    <section id="collect-on">
        <h1>Collect-On</h1>
        <p>Soyons connectés pour collecter</p>
        <p>© 2019 Collect-On App</p>
    </section>

    <section id="links">
        <ul class="major_links">
            <li><a href="{{ path('collecton_portal_homepage') }}#accueil">Accueil</a></li>
            <li><a href="{{ path('collecton_portal_homepage') }}#map_section">Points de collecte</a></li>
            <li><a href="{{ path('collecton_portal_homepage') }}#actu">Actualités</a></li>
            <li><a href="{{ path('collecton_portal_homepage') }}#partenaires">Partenariat</a></li>
        </ul>
        <ul class="minor_links">
            <li><a href="{{ path('collecton_portal_homepage') }}#accueil">Connexion</a></li>
            <li><a href="{{ path('collecton_portal_homepage') }}#accueil">Inscription</a></li>
        </ul>
    </section>

    <section id="contact">
        <article id="contact_us">
            <h2>Contact</h2>
            <p>Mail : contact@collect-on.com</p>
        </article>
        <article id="follow_us">
            <h2> Suivez-nous</h2>
            {# J'ai galéré ma vie parce que des svg, pour être modifiables, doivent être appelés de cette manière #}
            <a href="https://www.facebook.com/CollectOnApp" title="facebook"
               target="_blank">{% include '@CollectonPortal/inline/facebook.svg' %}</a>
            <a href="https://twitter.com/CollectOnApp" title="twitter"
               target="_blank">{% include '@CollectonPortal/inline/twitter.svg' %}</a>
            <a href="https://www.instagram.com/collectonapp" title="instagram"
               target="_blank">{% include '@CollectonPortal/inline/instagram.svg' %}</a>
        </article>
    </section>

</footer>
</html>
