{% extends 'CollectonAssoBundle:Asso:base.html.twig' %}
{% block title %}Mes actualités | Mes actualités{% endblock %}

{% block sidebar %}
    <ul>
        <li><a class="unselected" href="{{ path('collecton_asso_profil') }}">Mon profil</a></li>
        <li><a class="unselected" href="{{ path('collecton_asso_collecte') }}">Mes collectes</a></li>
        <li><a class="selected" href="{{ path('collecton_asso_actu') }}">Mes actualités</a></li>
    </ul>
{% endblock %}

{% block body %}
    <div id="actu_asso">
    <h2>Mes actualités</h2>
        <article>
            <figure class="img_bg"
                    style="background-image: url({{ asset('bundles/collectonportal/images/bac.jpg') }})"></figure>
            <div class="content">
                <h3>Collecte à l'ECE Paris</h3>
                <p class="date">12 décembre 2018</p>
                <p>Nous avons collecté plus de 500 produits d’hygiène afin de les redonner à des associations
                    qui distribuent ces produits à des personnes dans le besoin et à des centres d’accueil pour
                    sans-abris.</p>
                {#<button>Lire tout >></button>#}
            </div>
        </article>
        <article>
            <figure class="img_bg"
                    style="background-image: url({{ asset('bundles/collectonportal/images/team.jpg') }})"></figure>
            <div class="content">
                <h3>L'équipe se renouvelle !</h3>
                <p class="date">4 septembre 2018</p>
                <p>Caroline, Pauline, Lisa et Claire, se sont lancées dans l'aventure Collect-On depuis déjà plus d'un an.
                    Maximilien et Jacques nous ont rejoint récemment en apportant pleins de nouvelles idées.</p>
                {#<button>Lire tout >></button>#}
            </div>
        </article>
        <article>
            <figure class="img_bg"
                    style="background-image: url({{ asset('bundles/collectonportal/images/logo.jpg') }})"></figure>
            <div class="content">
                <h3>Facebook et twitter</h3>
                <p class="date">26 février 2018</p>
                <p>Vous pouvez maintenant suivre toutes les actualités de Collect-On sur Facebook et Twitter @CollectOnApp
                    !</p>
                {#<button>Lire tout >></button>#}
            </div>
        </article>
    </div>
    {% block content %}{% endblock %}
{% endblock %}