<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('bundles/collectonportal/css/homepage.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/collectonportal/css/material.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/collectonportal/css/materialize.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">#}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0ceekdbjSF_N8YVPsz8SHqAtdrL0GJoA&callback=initMap&libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {#<script src="{{ asset('bundles/collectonportal/js/materialize.js') }}"></script>#}

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a class="button right" href="{{ path('logout') }}"><button>Déconnexion</button></a></li>
            <li><a href="{{ path('logout') }}">Retour à l'accueil</a></li>
            <li><a id="left_1_nav" href="{{ path('collecton_portal_homepage') }}#rel_entreprises">Relations entreprises</a></li>
            <li><a id="left_2_nav" href="{{ path('collecton_portal_homepage') }}#mon_espace">Mon espace</a></li>
        </ul>
    </nav>
    <div id="sidebar">
        <img id="image_portail_asso" src="{{ asset('bundles/collectonportal/images/entreprise_active.png') }}" alt="Image Solinum"/>
        <button>{{ app.user.contactPrenom }} {{ app.user.contactNom}}</button>
        {% block sidebar %}
        {% endblock %}
    </div>


<div id="content">
    {% block body %}{% endblock %}
</div>
{% block javascript %} {% endblock %}
</body>

{#
<footer>
    <section id="collect-on">
        <h1>Collect-On</h1>
        <p>Soyons connectés pour collecter</p>
        <p>© 2019 Collect-On App</p>
    </section>

    <section id="links">
        <ul class="major_links">
            <li><a href="{{ path('collecton_portal_homepage') }}#accueil">Accueil</a></li>
            <li><a href="{{ path('collecton_asso_collecte') }}">Points de collecte</a></li>
            <li><a href="{{ path('collecton_portal_homepage') }}#actu">Actualités</a></li>
            <li><a href="{{ path('collecton_portal_homepage') }}#partenaires">Partenariat</a></li>
        </ul>
        <ul class="minor_links">
            <li><a href="{{ path('collecton_portal_homepage') }}#accueil">Connexion</a></li>
            <li><a href="{{ path('collecton_portal_homepage') }}#accueil">Inscription</a></li>
        </ul>
    </section>

    <section id="contact">
        <article id="contact_us">
            <h2>Contact</h2>
            <p>Mail : contact@collect-on.com</p>
        </article>
        <article id="follow_us">
            <h2> Suivez-nous</h2>
            {# J'ai galéré ma vie parce que des svg, pour être modifiables, doivent être appelés de cette manière
            <a href="https://www.facebook.com/CollectOnApp" title="facebook"
               target="_blank">{% include '@CollectonPortal/inline/facebook.svg' %}</a>
            <a href="https://twitter.com/CollectOnApp" title="twitter"
               target="_blank">{% include '@CollectonPortal/inline/twitter.svg' %}</a>
            <a href="https://www.instagram.com/collectonapp" title="instagram"
               target="_blank">{% include '@CollectonPortal/inline/instagram.svg' %}</a>
        </article>
    </section>

</footer>
#}
</html>
