{% extends 'CollectonAssoBundle:Asso:base.html.twig' %}

{% block title %}Mes collectes | Collect-On{% endblock %}


{% block sidebar %}
    <ul>

        <li><a class="unselected" href="{{ path('collecton_asso_profil') }}">Mon profil</a></li>
        <li><a class="selected" href="{{ path('collecton_asso_collecte') }}">Mes collectes</a></li>
        <li><a class="unselected" href="{{ path('collecton_asso_actu') }}">Mes actualités</a></li>

    </ul>
{% endblock %}

{% block body %}
    <div style="overflow:hidden;">
        <div class="left_asso_collecte">
            <h2>Mes collectes</h2>
            <p>Suivez vos collectes en cours et gérez vos points de collecte !</p>
            <a id="ajouter_collecte_button" class="modal-trigger class_button" href="#modal1">Ajouter une collecte</a>
        </div>
        <div class="right_asso_collecte">
            <p>Si vous souhaitez ajouter plusieurs points de collecte, vous pouvez télécharger le fichier excel si dessous, le remplir avec vos points de collecte sans changer la structure.</p>
            <a id="download_button" class="class_button" href="{{path('download_file')}}"> Téléchargez le fichier</a>
            <div id="form_upload_collecte">
                {{ form_start(form_file) }}
                {{ form_end(form_file) }}
            </div>
        </div>
    </div>

    {% block content %}
        <div id="collecte_asso">
            <div class="left_asso_collecte">
                <h2>Vos points de collecte</h2>
                <p> Entrez une adresse et vos points de collecte à proximité s’afficheront :</p>
                <div id="barre_recherche">
                    <input id="pac-input"  placeholder="Entrez votre adresse" >
                    <!--<div id="loupe">{% include '@CollectonPortal/inline/loupe.svg' %}</div>-->
                    <img alt="image loupe" src="{{asset("bundles/collectonportal/images/loupe.svg")}}"/>
                </div>
            </div>
            <div class="right_asso_collecte">
                <p>Triez par catégorie les points que vous voulez afficher sur la carte :</p>
                <div id="cat_collecte" class="cat">
                    <button id="Consommables">Consommables</button>
                    <button id="Denrées alimentaires">Denrées alimentaires</button>
                    <button id="Electroménager">Electroménager</button>
                    <button id="Electronique">Electronique</button>
                    <button id="Jouets">Jouets</button>
                    <button id="Livres & Multimédia">Livres & Multimédia</button>
                    <button id="Meubles & Bibelots">Meubles & Bibelots</button>
                    <button id="Plastique">Plastique</button>
                    <button id="Produits d'hygiène">Produits d'hygiène</button>
                    <button id="Vêtements & Textiles">Vêtements & Textiles</button>
                    <button id="Autre">Autre</button>
                    <button id="Tout">Tout</button>
                </div>
            </div>
        </div>
        <!-- Modal Structure -->
        <div id="modal1" class="modal form" >
            <h4>AJOUTER UNE COLLECTE</h4>
            <h5>Association organisatrice</h5>
            <div class="modal-content" style="padding:0;">
                {{ form_start(form) }}
                <div class="entier">
                    <div class="moitie">
                        {{ form_label(form.nomAsso) }}
                        {{ form_widget(form.nomAsso, {'attr': {'value': app.user.nomStructure}}) }}
                        {{ form_label(form.siteWeb) }}
                        {{ form_widget(form.siteWeb)}}
                    </div>
                    <div class="moitie">
                        {{ form_label(form.contactTel) }}
                        {{ form_widget(form.contactTel)}}
                        {{ form_label(form.contactMail) }}
                        {{ form_widget(form.contactMail)}}
                    </div>
                </div>
                <h5>Le point de collecte</h5>
                <div class="entier">
                    <div class="moitie">
                        {{ form_label(form.nomPt) }}
                        {{ form_widget(form.nomPt)}}
                        {{ form_label(form.adresse) }}
                        {{ form_widget(form.adresse)}}
                        {{ form_label(form.acces) }}
                        {{ form_widget(form.acces)}}
                    </div>
                    <div class="moitie">
                        {{ form_label(form.typePt) }}
                        {{ form_widget(form.typePt)}}
                        <button id="type_permanent" onclick="permanent_onclick()">Permanente</button>
                        <button id="type_ponctuel" onclick="ponctuel_onclick()">Ponctuelle</button>
                        <div id="info_permanent">
                            {{ form_row(form.horaires) }}
                        </div>
                        <div id="info_ponctuel">
                            {{ form_row(form.date) }}
                        </div>
                    </div>
                </div>
                <h5>Objets collectés</h5>
                <div class="entier">
                    <div class="moitie">
                        {{ form_label(form.catObjets) }}
                        {{ form_widget(form.catObjets)}}
                        <div id="cat_form">
                            <button id="Consommables">Consommables</button>
                            <button id="Denrées alimentaires">Denrées alimentaires</button>
                            <button id="Electroménager">Electroménager</button>
                            <button id="Electronique">Electronique</button>
                            <button id="Jouets">Jouets</button>
                            <button id="Livres & Multimédia">Livres & Multimédia</button>
                            <button id="Meubles & Bibelots">Meubles & Bibelots</button>
                            <button id="Plastique">Plastique</button>
                            <button id="Produits d'hygiène">Produits d'hygiène</button>
                            <button id="Vêtements & Textiles">Vêtements & Textiles</button>
                            <button id="Autre">Autre</button>
                            <button id="Tout">Tout</button>
                        </div>
                    </div>
                    <div class="moitie">
                        {{ form_label(form.typeObjets) }}
                        {{ form_widget(form.typeObjets)}}
                        {{ form_label(form.destination) }}
                        {{ form_widget(form.destination)}}
                    </div>
                </div>
                {{ form_end(form)}}
            </div>
        </div>

    {% endblock %}
    {% include 'CollectonAssoBundle:Asso:map_asso.html.twig' %}


{% endblock %}

{% block javascript %}
<script>

$(document).ready(function(){
    $('.modal').modal();
    console.log("coucou");
});
var input = document.getElementById('collecton_assobundle_pointdecollecte_adresse');

var autocomplete = new google.maps.places.Autocomplete(input);

function permanent_onclick(){
    document.getElementById('info_permanent').style.display = "block";
    document.getElementById('info_ponctuel').style.display = "none";
    document.getElementById('collecton_assobundle_pointdecollecte_typePt').value = "Permanente";

}
function ponctuel_onclick(){
    document.getElementById('info_permanent').style.display = "none";
    document.getElementById('info_ponctuel').style.display = "block";
    document.getElementById('collecton_assobundle_pointdecollecte_typePt').value = "Ponctuelle";
}
</script>

{% endblock %}






