<section id="map_section">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <div id="map"></div>

    <div id="info_pt" class="cards_map">

        <div id="objet_cat" style="background-color: #A5E841;"></div>
        <h2>
            <div id="nom"></div>
        </h2>
        <a id="lien_site" href="" target="_blank">
            <div id="asso_pt"></div>
        </a>

        <div id="adresse"></div>

        <div id="card_buttons">
            <button id="collecte_button" onclick="collecte_onclick()">COLLECTE</button>
            <button id="contact_button" onclick="contact_onclick()">CONTACT</button>
        </div>
        <article>
            <p id="label_objet">Objets collectés</p>
            <div id="objet" class="info_en_petit"></div>
            <div id="label_type_pt"></div>
            <div id="horaire" class="info_en_petit"></div>
            <div id="horaire_renseignement" class="info_en_petit"></div>
            <p id="label_acces">Accès</p>
            <div id="acces" class="info_en_petit"></div>

            <p id="label_tel">Téléphone</p>
            <div id="contact_tel" class="info_en_petit"></div>
            <p id="label_mail">Mail</p>
            <div id="contact_mail" class="info_en_petit"></div>
            <p id="label_site_web">Site internet</p>
            <a id="lien_site" href="" target="_blank">
                <div id="site_web" class="info_en_petit"></div>
            </a>
            <button id="croixcroix" onclick="croix_onclick()">X</button>
        </article>

    </div>

    <script>
        var actif = "collecte";
        function checkActif() {

            if (actif == "contact") {
                console.log(actif);

                if(document.getElementById("label_tel")){
                    document.getElementById("label_tel").style.display = "block";
                    document.getElementById("contact_tel").style.display = "block";
                }
                if(document.getElementById("label_mail")) {
                    document.getElementById("label_mail").style.display = "block";
                    document.getElementById("contact_mail").style.display = "block";

                }
                if(document.getElementById("label_site_web")){
                    document.getElementById("lien_site").style.display = "block";
                    document.getElementById("label_site_web").style.display = "block";
                    document.getElementById("site_web").style.display = "block";
                }
            }else{
                if(document.getElementById("label_acces")){
                    document.getElementById("label_acces").style.display = "block";
                    document.getElementById("acces").style.display = "block";
                }
            }
        }
        //1 var qui dit qui est actif
        //si contact est actif: on affiche le tel
        function collecte_onclick() {
            actif = "collecte";
            document.getElementById("collecte_button").style.color = "#39AB7B";
            document.getElementById("contact_button").style.color = "#959DAD";
            document.getElementById("label_objet").style.display = "block";
            document.getElementById("objet").style.display = "block";
            document.getElementById("label_type_pt").style.display = "block";
            document.getElementById("horaire").style.display = "block";
            document.getElementById("horaire_renseignement").style.display = "block";
            if(document.getElementById("label_acces")){
                document.getElementById("label_acces").style.display = "block";
                document.getElementById("acces").style.display = "block";
            }
            if(document.getElementById("label_tel")){
                document.getElementById("label_tel").style.display = "none";
                document.getElementById("contact_tel").style.display = "none";
            }
            if(document.getElementById("label_mail")) {
                document.getElementById("label_mail").style.display = "none";
                document.getElementById("contact_mail").style.display = "none";

            }
            if(document.getElementById("label_site_web")){
                document.getElementById("lien_site").style.display = "none";
                document.getElementById("label_site_web").style.display = "none";
                document.getElementById("site_web").style.display = "none";
            }

        }

        function contact_onclick() {
            actif = "contact";
            document.getElementById("collecte_button").style.color = "#959DAD";
            document.getElementById("contact_button").style.color = "#39AB7B";
            document.getElementById("label_objet").style.display = "none";
            document.getElementById("objet").style.display = "none";
            document.getElementById("label_type_pt").style.display = "none";
            document.getElementById("horaire").style.display = "none";
            document.getElementById("horaire_renseignement").style.display = "none";
            if(document.getElementById("label_acces")){
                document.getElementById("label_acces").style.display = "none";
                document.getElementById("acces").style.display = "none";
            }
            if(document.getElementById("label_tel")){
                document.getElementById("label_tel").style.display = "block";
                document.getElementById("contact_tel").style.display = "block";
            }
            if(document.getElementById("label_mail")) {
                document.getElementById("label_mail").style.display = "block";
                document.getElementById("contact_mail").style.display = "block";

            }
            if(document.getElementById("label_site_web")){
                document.getElementById("lien_site").style.display = "block";
                document.getElementById("label_site_web").style.display = "block";
                document.getElementById("site_web").style.display = "block";
            }

        }

        function croix_onclick() {
            document.getElementById("info_pt").style.display = "none";

        }


    </script>
</section>

<script>
    var map;
    function initMap(){


        // The location of Ulu  ru
        var uluru = {lat: 48.864, lng: 2.35};
        // The map, centered at Uluru
        map = new google.maps.Map(
            document.getElementById('map'), {zoom: 11, center: uluru});

        return map;
    }
    function createIcon(type, cat) {
        var icon;
        var path;
        var color;
        var scale;
        var anchor;
        if(type === "Permanente"){

            path = "M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z";
            scale = 2;
            anchor = new google.maps.Point(12,24);
        }else if (type === "Ponctuelle"){ //temporaire
            path = "M395.561,0c-0.076,0-0.152,0-0.216,0c-0.089,0-0.152,0-0.242,0C226.237,0,89.332,136.918,89.332,305.797\n" +
                "\t\t\t\t\t\tc0,139.766,177.244,365.471,261.848,465.255c10.755,12.7,26.633,19.908,43.275,19.604c0.305,0,0.584-0.025,0.89-0.051\n" +
                "\t\t\t\t\t\tc0.292,0.025,0.572,0.051,0.878,0.051c16.641,0.292,32.506-6.903,43.274-19.604c84.592-99.784,261.835-325.502,261.835-465.255\n" +
                "\t\t\t\t\t\tC701.332,136.918,564.452,0,395.561,0z M415.228,531.922v-26.545c0-10.856-9.014-19.654-20.125-19.654\n" +
                "\t\t\t\t\t\tc-10.844,0-19.654,8.811-19.654,19.654v26.545C265.94,522.45,178.5,434.998,169.042,325.477h26.506\n" +
                "\t\t\t\t\t\tc10.857,0,19.692-8.81,19.692-19.68s-8.835-19.68-19.692-19.68h-26.506c9.471-109.522,96.898-196.923,206.407-206.394v26.519\n" +
                "\t\t\t\t\t\tc0,10.895,8.416,19.68,20.125,19.68c11.683,0,19.653-8.785,19.653-19.68V79.723c109.522,9.458,196.937,96.873,206.407,206.394\n" +
                "\t\t\t\t\t\th-26.494c-10.856,0-19.691,8.81-19.691,19.68s8.835,19.68,19.691,19.68h26.494C612.164,434.998,524.75,522.45,415.228,531.922z"
                + "M509.1,276.315h-70.963c-9.408-13.691-25.146-22.692-43.034-22.692c-0.254,0-0.534,0.076-0.788,0.076l-64.658-91.012\n" +
                "\t\t\t\t\t\tc-9.42-13.209-27.879-16.349-41.152-6.941c-13.298,9.446-16.4,27.879-6.967,41.19l64.709,91.076\n" +
                "\t\t\t\t\t\tc-2.047,5.542-3.318,11.505-3.318,17.785c0,28.858,23.354,52.25,52.187,52.25c17.887,0,33.651-9.026,43.059-22.718h70.938\n" +
                "\t\t\t\t\t\tc16.285,0,29.507-13.26,29.507-29.532C538.606,289.499,525.385,276.315,509.1,276.315z";
            scale = 0.05;
            anchor = new google.maps.Point(400,850);
        }
        switch (cat) {
            case "Vêtements & Textiles":
                color = '#ff0300';
                break;
            case "Déchets médicaux":
                color = '#460bcc';
                break;

            case 'Jouets':
                color = '#0cffb2';
                break;
            case 'Denrées alimentaires':
                color = '#14cc7a';
                break;

            case 'Produits d\'hygiène':
                color = '#b0ff0f';
                break;
            case 'Meubles & Bibelots':
                color = '#fffe19';
                break;
            case 'Electronique':
                color = '#ffad1d';
                break;
            case 'Electroménager':
                color = '#ff8400';
                break;
            case 'Plastique':
                color = '#1481cc';
                break;

            case 'Livres & Multimédia':
                color = '#ff0097';
                break;
            case 'Consommables':
                color = '#7027cc';
                break;


            case 'Autre':
                color = '#840400';
                break;
            default:

                break;

        }
        icon = {
            path: path,
            fillColor: color,
            fillOpacity: 1,
            anchor: anchor,
            scale: scale,
            strokeWeight: 0.5

        };
        return icon;
    }
    function createMarker(data){
        var icon = createIcon(data.types_pt[x], data.objets_cat[x]);
        var marker = new google.maps.Marker({
            icon: icon,
            position: {lat: data.lats[x], lng: data.lngs[x]},
            map: map,
            nom: data.noms[x],
            asso: data.assos[x],
            type_pt: data.types_pt[x],
            objet: data.objets[x],
            objet_cat: data.objets_cat[x],
            horaire: data.horaires[x],
            horaire_renseignement: data.horaires_renseignement[x],
            adresse: data.adresses[x],
            acces: data.acces[x],
            contact_mail: data.contacts_mail[x],
            contact_tel: data.contacts_tel[x],
            site_web: data.site_web[x]
        });
        return marker;
    }
    // function createMarkerBdd(data){
    //     var icon = createIcon(data.types_pt[x], data.objets_cat[x]);
    //     var geocoder = new google.maps.Geocoder();
    //     var
    //     geocoder.geocode( { 'address': data.adresses[x]}, function(results, status) {
    //         if (status == 'OK') {
    //             console.log(results[0].geometry.location);
    //
    //
    //         } else {
    //             console.log("fail");
    //         }
    //     });
    //     var adresse = codeAddress(data.adresses[x]);
    //     var marker = new google.maps.Marker({
    //         icon: icon,
    //         position: adresse,
    //         map: map,
    //         nom: data.noms[x],
    //         asso: data.assos[x],
    //         type_pt: data.types_pt[x],
    //         objet: data.objets[x],
    //         objet_cat: data.objets_cat[x],
    //         horaire: data.horaires[x],
    //         adresse: data.adresses[x],
    //         acces: data.acces[x],
    //         contact_mail: data.contacts_mail[x],
    //         contact_tel: data.contacts_tel[x],
    //         site_web: data.site_web[x]
    //     });
    //     console.log(codeAddress('10 Rue de Rivoli, Paris, France'));
    //     return marker;
    // }
    function createMarkerBdd(data) {

        // var icon = createIcon(data.types_pt[x], data.objets_cat[x]);
        // var geocoder = new google.maps.Geocoder();
        // geocoder.geocode( { 'address': data.adresses[x]}, function(results, status) {
        //     if (status == 'OK') {
        //         map.setCenter(results[0].geometry.location);
        //         var marker = new google.maps.Marker({
        //             map: map,
        //             position: results[0].geometry.location,
        //             icon: icon,
        //             nom: data.noms[x],
        //             asso: data.assos[x],
        //             type_pt: data.types_pt[x],
        //             objet: data.objets[x],
        //             objet_cat: data.objets_cat[x],
        //             horaire: data.horaires[x],
        //             adresse: data.adresses[x],
        //             acces: data.acces[x],
        //             contact_mail: data.contacts_mail[x],
        //             contact_tel: data.contacts_tel[x],
        //             site_web: data.site_web[x]
        //         });
        //         console.log(marker);
        //         return marker;
        //
        //     } else {
        //         alert('Geocode was not successful for the following reason: ' + status);
        //     }
        // });
    }

    var my_markers = [];
    var mark_pos = [];

    function removeMarker(my_markers){

        for (x = 0; x < my_markers.length; x++){
            my_markers[x].setMap(null);
        }
    }

    var cat ;
    var but_actif = 'tout';
    function setupClickListener(id) {
        var Button = document.getElementById(id);
        if (Button != null) {
            Button.addEventListener('click', function () {
                Button.style.backgroundColor = "#a5e841";
                console.log(but_actif);
                console.log(document.getElementById(but_actif));
                if(document.getElementById(but_actif)) {
                    document.getElementById(but_actif).style.backgroundColor = "#e7e7e7";
                }
                but_actif = id;
                affichageMapAvecCat(id, my_markers);

            });
        }
    }
    setupClickListener('Vêtements & Textiles', my_markers);
    setupClickListener('Plastique', my_markers);
    setupClickListener('Livres & Multimédia', my_markers);
    setupClickListener('Jouets', my_markers);
    setupClickListener('Denrées alimentaires', my_markers);
    setupClickListener('Produits d\'hygiène', my_markers);
    setupClickListener('Meubles & Bibelots', my_markers);
    setupClickListener('Electronique', my_markers);
    setupClickListener('Electroménager', my_markers);
    setupClickListener('Consommables', my_markers);
    setupClickListener('Autre', my_markers);
    setupClickListener('Tout', my_markers);


    var urlcat = "{{ path('collecton_portal_maps_cat') }}";
    var url = "{{ path('collecton_portal_maps') }}";
    var urlasso = "{{ path('collecton_portal_maps_asso') }}";
    var urluser = "{{ path('collecton_user_co') }}";
    var userco;



        $.ajax({
            url: urlasso,
            type: "POST",
            dataType: "json",
            success: function (data) {

                if (data) {
                    console.log(data.excel.nb_pts);
                    console.log(data.excel.asso);
                    // console.log(data.bdd);
                    removeMarker(my_markers);
                    for (x = 0; x < data.excel.nb_pts; x++) {
                        var marker = createMarker(data.excel);

                        my_markers.push(marker);
                        var infowindow = new google.maps.InfoWindow();

                        google.maps.event.addListener(marker, 'click', (function (marker) {
                            return function () {
                                $('#info_pt div:not(#card_buttons)').empty();
                                $('#nom').append(marker.nom);
                                $('#asso_pt').append(marker.asso);
                                $('#type_pt').append(marker.type_pt);
                                $('#objet').append(marker.objet);
                                $('#objet_cat').append(marker.objet_cat);
                                $('#horaire').append(marker.horaire);
                                $('#horaire_renseignement').append(marker.horaire_renseignement);
                                $('#adresse').append(marker.adresse);
                                $('#label_acces_none').attr("id", "label_acces");
                                if(marker.acces === null){
                                    $('#label_acces').css("display", "none");
                                    $('#label_acces').attr("id", "label_acces_none");
                                }else {
                                    $('#acces').append(marker.acces);
                                }

                                $('#label_mail_none').attr("id", "label_mail");
                                if(marker.contact_mail === null){
                                    $('#label_mail').css("display", "none");
                                    $('#label_mail').attr("id", "label_mail_none");
                                }else {
                                    $('#contact_mail').append(marker.contact_mail);
                                }

                                $('#label_tel_none').attr("id", "label_tel");
                                if(marker.contact_tel === null){
                                    $('#label_tel').css("display", "none");
                                    $('#label_tel').attr("id", "label_tel_none");
                                }else {
                                    $('#contact_tel').append(marker.contact_tel);
                                }


                                $('#label_site_web_none').attr("id", "label_site_web");
                                if(marker.site_web === null){
                                    $('#label_site_web').css("display", "none");
                                    $('#label_site_web').attr("id", "label_site_web_none");
                                }else {

                                    $('#site_web').append(marker.site_web);

                                }
                                $('#collecte_content').css("display", "block");
                                $('#contact_content').css("display", "block");
                                $('#info_pt').css("display", "block");
                                $('#info_pt a').attr("href", marker.site_web);

                                if (marker.type_pt === 'Permanente') {
                                    $('#label_type_pt').append("Horaires");
                                } else {
                                    $('#label_type_pt').append("Dates");
                                }
                                checkActif();
                            }
                        })(marker));

                    }
                    // for (x = 0; x < data.bdd.nb_pts; x++) {
                    //     console.log(x);
                    //     var marker;
                    //     var truc = "truc1";
                    //     // var marker = createMarkerBdd(data.bdd);
                    //     var icon = createIcon(data.bdd.types_pt[x], data.bdd.objets_cat[x]);
                    //     var geocoder = new google.maps.Geocoder();
                    //     geocoder.geocode( { 'address': data.bdd.adresses[x]}, function(results, status) {
                    //         // truc = "truc2";
                    //         if (status == 'OK') {
                    //             map.setCenter(results[0].geometry.location);
                    //             marker = new google.maps.Marker({
                    //                 map: map,
                    //                 position: results[0].geometry.location,
                    //                 icon: icon,
                    //                 nom: data.bdd.noms[x],
                    //                 asso: data.bdd.assos[x],
                    //                 type_pt: data.bdd.types_pt[x],
                    //                 objet: data.bdd.objets[x],
                    //                 objet_cat: data.bdd.objets_cat[x],
                    //                 horaire: data.bdd.horaires[x],
                    //                 adresse: data.bdd.adresses[x],
                    //                 acces: data.bdd.acces[x],
                    //                 contact_mail: data.bdd.contacts_mail[x],
                    //                 contact_tel: data.bdd.contacts_tel[x],
                    //                 site_web: data.bdd.site_web[x]
                    //             });
                    //
                    //             my_markers.push(marker);
                    //             var infowindow = new google.maps.InfoWindow();
                    //
                    //             google.maps.event.addListener(marker, 'click', (function (marker) {
                    //                 return function () {
                    //                     console.log(marker);
                    //                     $('#info_pt div:not(#card_buttons)').empty();
                    //                     $('#nom').append(marker.nom);
                    //                     $('#asso_pt').append(marker.asso);
                    //                     $('#type_pt').append(marker.type_pt);
                    //                     $('#objet').append(marker.objet);
                    //                     $('#objet_cat').append(marker.objet_cat);
                    //                     $('#horaire').append(marker.horaire);
                    //                     $('#horaire_renseignement').append(marker.horaire_renseignement);
                    //                     $('#adresse').append(marker.adresse);
                    //                     $('#label_acces_none').attr("id", "label_acces");
                    //                     if(marker.acces === null){
                    //                         $('#label_acces').css("display", "none");
                    //                         $('#label_acces').attr("id", "label_acces_none");
                    //                     }else {
                    //                         $('#acces').append(marker.acces);
                    //                     }
                    //
                    //                     $('#label_mail_none').attr("id", "label_mail");
                    //                     if(marker.contact_mail === null){
                    //                         $('#label_mail').css("display", "none");
                    //                         $('#label_mail').attr("id", "label_mail_none");
                    //                     }else {
                    //                         $('#contact_mail').append(marker.contact_mail);
                    //                     }
                    //
                    //                     $('#label_tel_none').attr("id", "label_tel");
                    //                     if(marker.contact_tel === null){
                    //                         $('#label_tel').css("display", "none");
                    //                         $('#label_tel').attr("id", "label_tel_none");
                    //                     }else {
                    //                         $('#contact_tel').append(marker.contact_tel);
                    //                     }
                    //
                    //
                    //                     $('#label_site_web_none').attr("id", "label_site_web");
                    //                     if(marker.site_web === null){
                    //                         $('#label_site_web').css("display", "none");
                    //                         $('#label_site_web').attr("id", "label_site_web_none");
                    //                     }else {
                    //
                    //                         $('#site_web').append(marker.site_web);
                    //
                    //                     }
                    //                     $('#collecte_content').css("display", "block");
                    //                     $('#contact_content').css("display", "block");
                    //                     $('#info_pt').css("display", "block");
                    //                     $('#info_pt a').attr("href", marker.site_web);
                    //
                    //                     if (marker.type_pt === 'Permanente') {
                    //                         $('#label_type_pt').append("Horaires");
                    //                     } else {
                    //                         $('#label_type_pt').append("Dates");
                    //                     }
                    //                     checkActif();
                    //                 }
                    //             })(marker));
                    //
                    //
                    //             // return marker;
                    //
                    //         } else {
                    //             alert('Geocode was not successful for the following reason: ' + status);
                    //         }
                    //
                    //     });
                    //
                    //     console.log(truc);
                    //
                    // }
                }
            },
            error: function (resultat, statut, erreur) {
                console.log(resultat.responseText)
            }
        });




    map = initMap();
    var input = document.getElementById('pac-input');

    function codeAddress(adresse) {
        var geocoder = new google.maps.Geocoder();
        // var address = document.getElementById('address').value;
        geocoder.geocode( { 'address': adresse}, function(results, status) {
            if (status == 'OK') {
                console.log(results[0].geometry.location);
                return results[0].geometry.location;

            } else {
                console.log("fail");
            }
        });
    }

    var autocomplete = new google.maps.places.Autocomplete(input);

    autocomplete.addListener('place_changed', function(){
        removeMarker(mark_pos);
        var place = autocomplete.getPlace();
        var marker = new google.maps.Marker({
            icon: {
                path: "M12 2C8.14 2 5 5.14 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.86-3.14-7-7-7zm0 2c1.1 0 2 .9 2 2 0 1.11-.9 2-2 2s-2-.89-2-2c0-1.1.9-2 2-2zm0 10c-1.67 0-3.14-.85-4-2.15.02-1.32 2.67-2.05 4-2.05s3.98.73 4 2.05c-.86 1.3-2.33 2.15-4 2.15z",
                fillColor: '#eaa5ff',
                fillOpacity: 1,
                anchor: new google.maps.Point(12,24),
                scale: 2,
                strokeWeight: 0.5
            },
            position: place.geometry.location,
            map: map
        });
        mark_pos.push(marker);
        map.setCenter(place.geometry.location);
        map.setZoom(15);

    });



</script>