{% extends 'CollectonAssoBundle:Asso:base.html.twig' %}
{% block title %}Collect-On | Mon profil{% endblock %}

{% block sidebar %}
    <ul>
        <li><a class="selected" href="{{ path('collecton_asso_profil') }}">Mon profil</a></li>
        <li><a class="unselected" href="{{ path('collecton_asso_collecte') }}">Mes collectes</a></li>
        <li><a class="unselected" href="{{ path('collecton_asso_actu') }}">Mes actualités</a></li>
    </ul>
{% endblock %}

{% block body %}
    <!--<h1>Blog Application</h1>-->
    {% block content %}{% endblock %}
{% endblock %}