<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>

    <title>Inscription | Collect-On</title>

    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('bundles/collectonportal/css/homepage.css') }}"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
</body>

<nav>
    <ul>
        <img id="img_collecton" src="{{ asset('bundles/collectonportal/images/Collect-On_title.png') }}"
             alt="Image Collect-On"/>
        <li><a class="button" href="{{ path('collecton_portal_homepage') }}#accueil"><button>Connexion/Inscription</button></a></li>
        <li><a href="{{ path('collecton_portal_homepage') }}#contact">Contact</a></li>
        <li><a href="{{ path('collecton_portal_homepage') }}#partenaires">Partenariats</a></li>
        <li><a href="{{ path('collecton_portal_homepage') }}#actu">Actualités</a></li>
        <li><a href="{{ path('collecton_portal_homepage') }}#map_section">Points de collecte</a></li>
        <li><a id="menu_accueil" href="{{ path('collecton_portal_homepage') }}#accueil">Accueil</a></li>
    </ul>
</nav>

<section id="register_check" class="hero">
        <div class="hero_left">
            <h1>Collect-On</h1>
            <h3>Soyons connectés</h3>
            <h4>pour collecter</h4>
        </div>

        <div class="hero_right">
            <div class="form">
                <h4>Finalisez votre inscription</h4>
                {{ form_start(form) }}
                <h5> {{ form_label(form.nom_structure) }}</h5>
                <div>
                    {{ form_widget(form.nom_structure) }}
                    {#{ form_widget(form.description, {'attr': {'class': "text_area"}}) }#}
                    {{ form_widget(form.description, {'attr': {'class': "text_area"}}) }}
                </div>
                <h5>Contact</h5>
                <div class="col2">
                    {{ form_widget(form.contact_prenom) }}
                    {{ form_widget(form.contact_nom) }}
                    {{ form_widget(form.contact_statut) }}
                    {{ form_widget(form.contact_tel) }}
                </div>
                {{  form_rest(form) }}
                {#<button id="_submit">Valider</button>#}
            </div>
        </div>
</section>


<footer>
    <section id="collect-on">
        <h1>Collect-On</h1>
        <p>Soyons connectés pour collecter</p>
        <p>© 2019 Collect-On App</p>
    </section>

    <section id="links">
        <ul class="major_links">
            <li><a href="{{ path('collecton_portal_homepage') }}#accueil">Accueil</a></li>
            <li><a href="{{ path('collecton_portal_homepage') }}#map_section">Points de collecte</a></li>
            <li><a href="{{ path('collecton_portal_homepage') }}#actu">Actualités</a></li>
            {#<li><a href="#partenaires">Partenariat</a></li>#}
        </ul>
        <ul class="minor_links">
            <li><a href="{{ path('collecton_portal_homepage') }}#accueil">Connexion</a></li>
            <li><a href="{{ path('collecton_portal_homepage') }}#accueil">Inscription</a></li>
        </ul>
    </section>

    <section id="contact">
        <article id="contact_us">
            <h2>Contact</h2>
            <p>Mail : contact@collect-on.com</p>
            <p>Tel : 06 17 15 22 30</p>
        </article>
        <article id="follow_us">
            <h2> Suivez-nous</h2>
            {# J'ai galéré ma vie parce que des svg, pour être modifiables, doivent être appelés de cette manière #}
            <a href="https://www.facebook.com/CollectOnApp" title="facebook"
               target="_blank">{% include '@CollectonPortal/inline/facebook.svg' %}</a>
            <a href="https://twitter.com/CollectOnApp" title="twitter"
               target="_blank">{% include '@CollectonPortal/inline/twitter.svg' %}</a>
            <a href="https://www.instagram.com/collectonapp" title="instagram"
               target="_blank">{% include '@CollectonPortal/inline/instagram.svg' %}</a>
        </article>
    </section>

</footer>
</html>

