*{
    box-sizing: border-box;
}
div {
    display: block;
}
html{
    background-color: #FFFFFF;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif !important;
    height:100%;
    scroll-behavior: smooth;
}
body{
    margin:0;
}
a{
    text-decoration: none;
}

/*----------------------POLICES--------------*/
@font-face {
    font-family: BebasNeue;
    src: url('../css/BebasNeue-Regular.ttf');
    src: url('../css/BebasNeue-Regular.otf') format("opentype");
}
@font-face {
    font-family: 'lemonmilkregular';
    src: url('lemonmilk-webfont.woff2') format('woff2'),
    url('lemonmilk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*-------------------------------------------*/

h1 {
    font-family: lemonmilkregular;
    /*font-size: 45px;*/
    font-size: 2.6em;
    color: #39AB7B;
    margin-bottom:1%;
    margin-top:3%;
    font-weight: normal;
}
h2{
    font-family: lemonmilkregular;
    font-size: 1.4em;
    color: #39ab7b;
    margin-bottom: 1%;
    font-weight: normal;
}
h3{
    font-family: BebasNeue;
    /*font-size: 35px;*/
    font-size: 2em;
    color: #D7DF55;
    margin: 0%;
    margin-left: 0;
    margin-top:3%;
    font-weight: normal;
}
h4 {
    font-family: BebasNeue;
    /*font-size: 35px;*/
    font-size: 1.7em;
    color: #D7DF55;
    margin: 0%;
    margin-left: 0;
    margin-bottom: 4%;
    font-weight: normal;
}
/*
h3 {
    font-family: lemonmilkregular;
    //font-size: 20px;
    font-size: 1.95vw;
    color: #39ab7b;
    margin-bottom: 1%;
}*/
p {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size:0.8em;
    /*line-height: 1.3;*/
    text-align: justify;
}

button {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    /*font-size: 16px;*/
    font-size: 0.9vw;
    border-radius: 20px;
}

button:hover {
    cursor: pointer;
}

input{
    display: block;
    padding: 14px 10%;
    margin: 20px auto;
    width:60%;
    font-size: 0.8em;
    border-radius: 10px;
    border-style: none;
}

section{
    padding-top: 0px;
}


/*******nav bar***************************************************/
nav{
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    position : fixed;
    overflow: hidden;
    top :0;
    width : 100%;
    height: 50px;
    background-color: white;
    z-index: 5;
}

nav ul {
    list-style-type: none;
    margin-top :10px;
    padding: 0;
}
nav li{
     display: inline;
     float: right;
 }
/*
nav li #left_1_nav{
    float:left;
}
nav li #left_2_nav{
    float:left;
    color: #39AB7B;
}*/
nav li a {
    font-size: 1.0vw;
    display: block;
    text-transform: uppercase;
    color: #D7DF55;
    text-align: center;
    padding: 10px 1.2vw;
    text-decoration: none;
}
nav li a.button{
    padding: 5px 1.2vw;
}
nav li button{
    border-radius: 20px;
    color: white;
    background-color: #39AB7B;
    border:none;
    padding: 5px 10px;
    /*margin-right: 20px;
    margin-left: 4%;
    margin-top: 4px;*/
    text-align: center;
    font-size: 1.0vw;
}

nav li button:hover{
    background-image: linear-gradient(to right, #39ab7b, #A5E841, #D7DF55);
}
#menu_accueil{
    color: #39AB7B;
}

#img_collecton{
    width: auto;
    height: 20px;
    margin-left: 8vw;
    margin-top: 8px;
}

/*Responsive - Media queries*/
@media (max-width: 900px)
{
    nav li{
        display:none;
    }
}

a.anchor{
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}


/*********************************accueil************************************/
section#accueil, .hero{
    background-color: white;
    width: 100%;
    margin: 50px 0px 0px 0px;
    padding-left: 7%;
    top : 0px;
    min-height : 700px;

    height: -o-calc(100vh - 50px); /* opera */
    height: -webkit-calc(100vh - 50px); /* google, safari */
    height: -moz-calc(100vh - 50px); /* firefox */

    height: 100vh;
    overflow: hidden;
    /*border-radius: 25px;
    box-shadow: 1px 1px 20px 1px grey;*/
    position: relative;
    z-index: 1;
    overflow: hidden;
}

section#accueil{
    background-image: url('../images/background_hero.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

/*****left****/
#accueil_left, .hero_left {
    float: left;
    padding: 0;
    padding-top:2%;
    padding-right:0px;
    width: 40%;
    height: 100%;
}

#h2_pluspetit{
    font-size: 1vw;
}
#lemon_petit{
    font-family: lemonmilkregular;
    /*font-size: 20px;*/
    font-size: 1em;
    color: #39AB7B;
}
#accueil_left button{
    font-size: 1em;
    color: white;
    background-color: none;
    background-image: linear-gradient(to right, #39AB7B, #A5E841, #D7DF55);
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
    border: none;
    margin-top: 5%;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.16);
}
#accueil_left button:hover{
    background-image: linear-gradient(to left, #39AB7B, #A5E841, #D7DF55);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.16);
}

#register_check.hero .hero_left{
    background-image: url('../images/register.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#icon_search{
    vertical-align: middle;
    font-size: 2em;
}

/****right**************/
#accueil_right, .hero_right{
    float: right;
    padding: 8%;
    padding-top: 5%;
    width:50%;
    height: 100%;
    /*border: 1px solid black;*/
}
.hero_right{
    float: right;
    padding: 4%;
    padding-top: 20px;
    width:58%;
    /*border: 1px solid black;*/
}
#login_logon{
   /* border: 1px solid black;*/
    overflow: hidden;
    background-color: rgba(219, 241, 187, 0.57);
}
#login_logon p{
   text-align: center;
   color : #39AB7B;
    margin: 30px 5% 10px 5%;
}
#accueil_right h4{
    font-size: 1.7em;
    padding-top: 6%;
    padding-bottom: 5%;
    margin: 0;
    text-align: center;
    background-color: rgba(165, 232, 65, 1);
    color: white;
}

#accueil_right button{
    /*float:left;
    width:50%;
    color: white;
    border:none;
    border-radius: 0px;
    background-color: #39ab7b;
    padding: 1.5%;
    box-shadow: 0px 12px 16px rgba(69, 91, 99, 0.08);*/
    color: white;
    border-radius: 15px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #39ab7b, #A5E841, #D7DF55);
    margin: 10px auto;
    padding: 14px 10%;
    width: 60%;
    font-size: 0.8em;
    border-style: none;
    display: block;
}
/*continuer button*/
#login_logon button:nth-child(3){
    background-color: #FFFFFF;
    color: #959DAD;
}

#collecton_portalbundle_user_type{
    margin: 10px;
    margin-left: 0;
    border-radius: 10px;
    border-color: #39ab7b;
    padding: 5px;
    width: 80%;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 1vw;

}

#_submit, .fos_user_registration_register div:last-child input{
    color:white;
    border-radius: 15px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #39ab7b, #A5E841, #D7DF55);
    margin: auto;
    margin-top : 10px;
    margin-bottom: 30px;
    /*margin-left: 20%;*/
}


button#form_Continuer:hover{
    background-image: linear-gradient(to left, #39ab7b, #A5E841, #D7DF55);
}

#form{
    margin: 10%;
    margin-left: 24%;
    margin-top: 12%;
}

#accueil_right label{
    color: #39ab7b;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    font-size: 1.1vw;
    margin-left: 25%
}

#connexion-panel, #inscription-panel{
    margin-top : 10%;
}

#connexion-panel input{
    position:center;
}

#connexion-panel div label{
    display: none;
}

#inscription-panel div label{
    display: none;
}


/*@media only screen and(max-width: 900px)*/
@media(max-width: 900px)
{
    section#accueil{
        height:auto;
    }

    #accueil_left, #accueil_right{
        float:none;
        clear: both;
        width: 90%;
    }

    #register_check .hero_right{
        float:none;
        clear: both;
        width: 98%;
    }
    #register_check.hero .hero_left{
        display: none;
    }
}

/*-----------------------FORM----------------*/
.form{
    overflow: hidden;
    background-color: rgba(219, 241, 187, 0.57);
}
/*Titre du form*/
.form h4 {
    margin: 0px;
    padding : 20px;
    color: white;
    background-color: rgba(165, 232, 65, 1);
    font-size: 1.8em;
    text-align: center;
}
/*Titre de la section fond vert*/
.form h5, .form h5 label{
    width: 100%;
    margin: 0px;
    padding: 8px;
    text-transform: uppercase;
    font-weight: normal;
    color : white;
    background-color: #39AB7B;
    font-size: 0.9em;
    font-family: "Century Gothic", CenturyGothic;
    text-align: center;
}
.form h5 label{
    font-size: 1.0em; /*jsp pourquoi il faut augmenter le H5 qui contient un label, mais ça marche*/
    padding: 0px;
}
.form p{
    text-align: center;
    color : #707070;
    margin: 30px 5% 10px 5%;
}
.form button{
    display: block;
    width: 35%;
    margin: 10px auto 30px auto;
    padding: 14px 10%;
    color: white;
    background-image: linear-gradient(to right, #39ab7b, #A5E841, #D7DF55);
    text-transform: uppercase;
    font-size: 0.8em;
    border-style: none;
    border-radius: 15px;
}
.form h5+div{
    overflow: hidden;
    margin: 20px auto;
}
.form input, .form textarea{
    display: block;
    padding: 14px 4%;
    margin: 0px auto 12px auto;
    width:80%;
    font-size: 0.8em;
    font-family: Geneva, AppleGothic, sans-serif;

    border-radius: 10px;
    border-style: none;

    outline-color: #A5E841;

    -webkit-box-shadow: 0 2px 2px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0 2px 2px rgba(50, 50, 50, 0.1);
    box-shadow: 0 2px 2px rgba(50, 50, 50, 0.1);
}
#connexion_button_form_login, .class_button, #collecton_assobundle_fichier_Valider{
    display: block;
    padding: 14px 10%;
    color: white;
    background-image: linear-gradient(to right, #39ab7b, #A5E841, #D7DF55);
    text-transform: uppercase;
    font-size: 0.8em;
    border-style: none;
    border-radius: 15px;
    margin: 10px auto;
    width: 60%;
}
#ajouter_collecte_button, #download_button, #collecton_assobundle_fichier_Valider{
    width: auto;
    padding: 10px 3%;
    display:inline;
    text-decoration:none;
    text-transform: none;
}
#collecton_assobundle_fichier_Valider{
    padding: 10px 15px;
    margin: 20px 0 0 35%;
}
#download_button{
    margin-right: 5%;
}
#form_upload_collecte{
    width: 40%;
    display: inline-block;
}
#form_upload_collecte label{
    display:none;
}
#form_upload_collecte input{
    margin:0;
    width: auto;
    padding: 0;
    border-radius: 0;
}
#collecton_userbundle_user_type{
    display:none;
}
.form .col2 input{
    width: 37%;
    margin: 0px 10% 12px 10%;
    float: left;
}
.form .col2 input:nth-child(2n){
    margin-left: 3%;
}
.form .col2 input:nth-child(2n+1){
    margin-right: 3%;
}
.form textarea {
    height: 60px;
}




/**************************MAP*********************************/
section#map_section{
    position:relative;
    height: 100vh;
    /*height:100vh*/
    margin: 15px 3%;
    overflow: hidden;
}
#map_section h2{
    margin:0;
    font-size: 1.2em;
}
#map{
    margin-top:20px;
    margin-bottom: 20px;
    height: 92%;
    width: 100%;
    position: absolute;
    left:0;
    top:0;
}
.cards_map{
    position: absolute;
    height:auto;
    z-index: 2;
    background-color: white;
    margin: 1%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.10);
    padding: 1%;
}
#recherche_adresse{
    left: 2%;
    top: 10%;
    width: 25%;
}
#recherche_adresse p{
    color: #B1B1B1;
}
#barre_recherche{
    display: flex;
    width: 100%;
}
#pac-input{
    width: 95%;
    outline: none;
    border: solid #B1B1B1 1px;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    margin:0;
    padding-left:3%;
}
#barre_recherche img{
    background-color: #A5E841;
    min-width: 30px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    padding: 1%;
    border: solid #B1B1B1 1px;
    border-left: none;
}

#info_pt{
    /*left: 1%;*/
    right:1%;
    top: 37%;
    width: 30%;
    display:none;
    padding-left: 0;
    padding-right: 0;
    height: 53%;
    overflow: scroll;
}
#cat button{
    display: table;
    height: 45px;
    width: 45%;
    float:left;
}
#objet_cat, .cat button{
    color: #707070;
    border-radius: 15px;
    background-color: #E7E7E7;
    padding:2% 5% 2% 5%;
    font-size: 0.8em;
    margin-left: 3%;
    display:inline;
    border:none;
    margin:1%;
    /*width:47%;*/
}
.cat button:last-child{
    /*color: white;*/
    background-color: #A5E841;
}
#nom{
    color: #FFA16B;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}
#asso_pt{
    color:#707070;
    text-decoration: underline;
    margin-left: 3%;
    margin-right: 3%;
}
#adresse{
    color:#B1B1B1;
    font-size: 0.7em;
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}
#card_buttons button {
    float: left;
    width: 50%;
    border: none;
    height: 40px;
    border-radius: 0px;
    background-color: white;
    margin-top: 3%;
    padding: 1.5%;
    font-size: 0.9em;
}
#collecte_button{
    color: #39AB7B;
}

#card_buttons {
    overflow: hidden;
    box-shadow: 0px 12px 16px rgba(69, 91, 99, 0.08);
}
#info_pt p {
    color: #707070;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 0.9em;
    text-align: justify;
}
.info_en_petit {
    color: #707070;
    font-size: 0.7em;
    margin-left: 3%;
    margin-right: 3%;
    text-align: justify;
}
.info_en_petit2 {
    display: none;
}
#label_type_pt{
    color: #707070;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 0.9em;
    text-align: justify;
    margin-bottom: 5%;
}
#label_tel, #contact_tel, #label_mail,#contact_mail, #label_site_web, #site_web {
    display : none;
}

#croixcroix{
    position: absolute;
    top: 3%;
    right: 3%;
    color: #707070;
    background-color: white;
    border: none;
    font-size: 0.7em;
    font-weight: bold;
}
/***media queries maps***/
@media screen and (max-width: 900px) {
    body {
        overflow: auto;
    }
    section#map_section {
        min-height: 100vh; /*90vh   avant 120*/
        height: max-content; /*200vh*/
        overflow: auto;
    }
    #map{
        top:20%;
        height: 75vh;  /*avant 90vh*/
    }
    .cards_map{
        box-shadow: none;
    }
    #recherche_adresse{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        text-align: center;
        margin: 3% 0 3% 0;
    }
    #recherche_adresse p {
        text-align: center;
    }
    #pac-input{
        padding: 0;
        padding-left: 3%;
    }
    #info_pt{
        position: absolute;
        left: 0;
        bottom: auto;
        top: 95vh; /*58vh avant 120*/
        width: 100%;
        text-align: center;
        margin: 3% 0 0 0;
        height: auto;
        overflow:auto;
    }
    #label_type_pt {
        margin:3%;
    }

    #objet_cat{
        padding: 0;
        margin:0;
    }
    @media screen and (max-width: 800px) {
        #actu {
            padding:0;
        }

        @media screen and (max-width: 600px) {
            section#map_section {
                min-width: 90vh; /*avant rien*/
                height: max-content;  /*-webkit-fill-available  avant 150vh*/
                overflow: auto;
            }
            #actu {
                padding:0;
            }
            #map{
                height: 70vh;
            }
            #info_pt{
                top: 88vh;/*100vh*/
            }
        }
    }

}


/**********************************colored banner*****************/
section.colored_banner{
    background-image: linear-gradient(to left, #39ab7b, #A5E841, #D7DF55);
    text-align: center;
    width: 100%;
    padding: 16px 0px;
}
.colored_banner h3{
    color: #E7E7E7;
    margin: 5px auto;
    letter-spacing: 1px;
}
.colored_banner h3 span{
    color: white;
    font-size: 1.4em;
}
.colored_banner .svg path{
    fill: white;
}
/**********************************actu*******************************/
#actu{
    background-color: #F6F6F6;
    overflow: hidden;
}
.section_title {
    width: 25%;
    margin:2%;
    padding:1%;
    float: left;
    background-color: #F6F6F6;
}
.section_title h2{
    margin-top:3%;
}
.section_title p:nth-child(2){
    color: black;
}
#actu article{
    width: 19%;
    margin:2%;
    /*padding:1%;*/
    float: left;
    overflow: hidden;
    background-color: white;
}
#actu article .content{
    padding: 7%;
}
.section_title button {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.section_title button{
    color: #A5E841;
    border-radius: 10px;
    background-color: white;
    text-transform: uppercase;
    font-size: 0.9vw;
    padding: 4%;
    float:right;
    border: none;
}
article figure.img_bg {
    margin: 0px;
    width:100%;
    height: 150px;
    background-size: cover;
    background-position: center;
}
#actu article h3{
    font-size: 1.6em;
}
#actu article:nth-child(3n) h3{
    color: #FFA16B;
}
#actu article:nth-child(3n + 1) h3{
    color: #D7DF55;
}
#actu article:nth-child(3n + 2) h3{
    color:#A5E841;
}
#actu article p.date{
    color: #B1B1B1;
}
/*Responsive - Media queries*/
@media (max-width: 1000px)
{
    .section_title, .section_title p {
        width: 100%;
        float: none;
        clear: both;
        text-align: center;
    }

    #actu article{
        width: 29%;
        margin:2%;
    }
}
@media (max-width: 700px)
{
    #actu article{
        width: 46%;
    }
}
@media (max-width: 550px)
{
    #actu article{
        width: 96%;
    }
}
/**************************partenaraires*****************************************/
section#partenaires {
    margin: 10px 2%;
    padding: 20px 1%;
    overflow: hidden;
}
#partenaires article {
    margin-top: 1%;
}
#partenaires h2 {
    margin-top: 0;
}
#left_partenaires{
    float: left;
    width:64%;
    padding-right: 2%;
}
#solinum{
    width:100%;
    background-color: #F6F6F6;
    overflow: hidden;
}
#solinum p{
    width:70%;
    float: left;
    padding:5%;
}
#image_solinum{
    width:30%;
    float: left;
}
#form_contact {
    float: left;
    width:34%;
    /*border:solid 1px black;*/
    padding: 1%;
}
@media(max-width: 900px)
{
    #partenaires{
        height:auto;
        text-align: center;
        margin:auto;
    }
    #partenaires article {
        margin:auto;
    }

    #left_partenaires, #form_contact{
        float:none;
        clear: both;
        width: 90%;
    }
/*
    #register_check .hero_right{
        float:none;
        clear: both;
        width: 98%;
    }
    #register_check.hero .hero_left{
        display: none;
    }*/
}
/**************************video*****************************************/

#div_video{
    position: relative;
    min-height: 360px;
    width :90%;
}

#div_video iframe {
    position: absolute;
    /*top: 0;
    left : 26%;*/
    top: 0;
    left: 30%;
    width: 50%;
    height: 90%;
    margin:auto;
    position: center;
}

/*************************3 acteurs******************************************/

#div_3acteurs {
    padding-right: 2%;
    padding-left: 2%;
    width: 90%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.container_acteurs{
    width: 33%;
    padding: 1%;
    float: left;
}

.container_acteurs img {
    max-width: 80%;
    margin: 5%;
}

.image_off, #asso:hover .image_on, #parti:hover .image_on, #entreprise:hover .image_on{
    display:none
}
.image_on, #asso:active .image_off, #parti:active .image_off, #entreprise:active .image_off{
    display:initial;
}
.image_on, #asso:hover .image_off, #parti:hover .image_off, #entreprise:hover .image_off{
    display:initial
}

/**----------------FOOTER----------------**/
footer{
    background-color: #2A2A30;
    overflow: hidden;
    padding: 26px 2%;
    clear: both;
    margin-top:20px;
    top:0;
    bottom:0;
    left:0;
}
footer a{
    text-decoration: none;
    color : #707070;
}
footer p{
    margin: 0px;
    color : #707070;
}
/*SECTIONS*/
footer section{
    box-sizing: border-box;
    float: left;
    width: 33%;
    padding: 10px 3%;
}
footer section:nth-child(2){
    border-left: solid grey thin;
    border-right: solid grey thin;
}
/*SECTION COLLECT-ON*/
footer section#collect-on h1{
    color: #E7E7E7;
    font-family: Lemon/Milk;
    font-size: 1.5em;
    margin: 0px;
}
footer section#collect-on h1+p{
    color: #B1B1B1;
    margin: 0px 0px 60px 0px;
}

/*SECTION LINKS*/
footer section#links .major_links{
    float: left;
    text-align: left;
}
footer section#links .minor_links{
    float: right;
    text-align: right;
}
footer section#links ul{
    padding: 0px;
}
footer section#links ul li{
    display: block;
    float: none;
    margin: 5px 0px;
}
footer section#links ul.major_links li{
    font-family: BebasNeue;
    letter-spacing: 3px;
    font-size: 1em;
}footer section#links ul.major_links li a{
     color: #B1B1B1;
 }
footer section#links ul.major_links li a:hover{
    color: #E7E7E7;
}
footer section#links ul.minor_links li{
    margin-bottom: 10px;
}
footer section#links ul.minor_links li a:hover{
    color: #B1B1B1;
}

/*SECTION CONTACT*/
footer section#contact article h2{
    font-family: BebasNeue;
    letter-spacing: 3px;
    font-size: 1em;
    color: #E7E7E7;
    margin: 0px 0px 6px 0px;
}
footer section#contact article#contact_us{
    margin-bottom: 26px;
}
footer article#follow_us a,
footer article#follow_us img{
    margin: 0px 30px 0px 0px;
    float: left;
}
footer article#follow_us a:hover,
footer article#follow_us img:hover{
    cursor: pointer;
}
footer article#follow_us a path{
    fill:#B1B1B1;
}
footer article#follow_us a:hover path{
    fill:#E7E7E7;
}

@media(max-width: 625px)
{
    footer section{
        width: 100%;
        text-align: center;
    }

    footer section:nth-child(2){
        border-left: none;
        border-right: none;
        border-bottom: solid grey thin;
        border-top: solid grey thin;
    }
    footer section#collect-on h1+p {
        margin: 0px 0px 20px 0px;
        text-align: center;
    }
    footer article#follow_us a{
        float: none;
    }
}


#association-panel div label{
    display:none;
}
#entreprise-panel div label{
    display:none;
}
#association-panel div{
    padding-top: 10px;
}
#entreprise-panel div{
    padding-top: 10px;
}

.gm-style-mtc {
    display: none;
}
/********************************ASSOOOOOOOOOOOOOOO*****************************************/

#sidebar{
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    position : fixed;  /*inherit*/
    overflow: hidden;
    top :50px;
    background-color: white;
    z-index: 2;
    width: 17%;
    float:left;
    height: 100%; /*65vh*/

    border-width: 6px 6px 6px 0;
    border-style: solid;
    -webkit-border-image:
            -webkit-gradient(linear, 0 0, 0 100%, from(#D7DF55), to(rgba(57, 171, 123, 1))) 1 100%;
    -webkit-border-image:
            -webkit-linear-gradient(#D7DF55, rgba(57, 171, 123, 1)) 1 100%;
    -moz-border-image:
            -moz-linear-gradient(#D7DF55, rgba(57, 171, 123, 1)) 1 100%;
    -o-border-image:
            -o-linear-gradient(#D7DF55, rgba(57, 171, 123, 1)) 1 100%;
    border-image:
            linear-gradient(to bottom,#D7DF55, rgba(57, 171, 123, 1)) 1 100%;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#sidebar li a {
    font-size: 1.0vw;
    display: block;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 1.2vw;
    text-decoration: none;
}

#sidebar li a.unselected{
    color: #B1B1B1;
    background-color: white;
}
.selected{
    color: #39AB7B;
    background-color: #CCF293;
}
#left_2_nav{
    color: #39AB7B;
}
#sidebar button {
    display: inline;
    color: #B1B1B1;
    background-color: white;
    text-align: center;
    padding: 2%;
    -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16);
    margin: 0px 0px 4% 35%;
    border: none;
}
#content{
    width: 80%;
    float: right;
    margin: 50px 5px 50px 5px;
}
#image_portail_asso{
    width:45%;
    height: 90px;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;
    margin: 5% 30% 5% 30%;

}
/** Collecte asso************************/
#collecte_asso{
    overflow: hidden;
    width: 100%;
    margin: 0;
    margin-top: 50px;
    clear: both;
}
.left_asso_collecte{
    width:49%;
    float: left;
    padding-right: 2%;
}
.left_asso_collecte p{
    margin-bottom: 20px;
}
.right_asso_collecte{
    width:51%;
    margin-top: 2%;
    float: left;
}
.right_asso_collecte p{
    padding-left: 10px;
    width: 86%;
    margin-bottom: 20px;
}
#cat_collecte button{
    width: 27%;
    display: table;
    height: 45px;
    float: left;
    padding: 2% 2%;
}
#modal1{
    border-radius: 12px;
    width:85%;
    height:80vh;
}
#modal1 h5 {
    font-family: "Century Gothic", CenturyGothic;
    font-size: 1em;
    color: #39AB7B;
    background-color: white;
    text-align: left;
    padding: 20px 20px 20px 5%;
    box-shadow: 0 12px 12px rgba(69, 91, 99, 0.08);
    text-transform: uppercase;
}
#modal1 input{
   /* display:inline;*/
}
.entier{
    width:100%;
    overflow: hidden;

}
.moitie {
    width: 45%;
    float: left;
    font-size: 0.8em;
    /*margin-left: 5%;*/
    margin: 20px 0px 20px 5%;
}
#type_permanent{
    margin:9px;
    display:inline;
    color: #78849E;
    background-color: #E7E7E7;
    background-image: none;
    text-transform: initial;
    padding:9px 5%;
    border-radius:12px;
    width:25%;
}
#type_ponctuel{
    margin:0;
    display: inline;
    color: white;
    background-color: #39AB7B;
    background-image: none;
    text-transform: initial;
    padding:9px 5%;
    border-radius:12px;
    width:25%;
}
#collecton_assobundle_pointdecollecte_typePt{
    display:none;
}
#collecton_assobundle_pointdecollecte_catObjets{
    display:none;
}
#cat_form button{
    color:#78849E;
    background-color:#E7E7E7;
    background-image: none;
    margin:9px 4px;
    display: inline;
    width: 30%;
    padding:9px 5%;
}
/*  Actu asso*****************************/
#actu_asso article{
    width: 28%;
    margin:2%;
    /*padding:1%;*/
    float: left;
    overflow: hidden;
    background-color: white;
}
#actu_asso article .content{
    padding: 7%;
}